@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* Colors */
  --primary: #5f30e2;
  --primary-dark: #401f9b;

  --complete: #41b571;
  --complete-dark: #2f8a57;

  --delete: #e24a5a;
  --delete-dark: #b83644;

  --edit: #e2c74a;
  --edit-dark: #b8a33a;

  --input-border: #ccc;
  --input-focus: #8373af;

  --bg-body: #fbfaff;
  --bg-card: #ffffff;

  /* Radius & Shadows */
  --radius: 8px;
  --shadow-light: 4px 8px 20px rgba(0, 0, 0, 0.05);

  /* Spacing */
  --section-padding: 20px;
}

* {
  box-sizing: border-box;
  font-family: "Host Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-body);
}

header {
  background: var(--primary);
  padding: 16px;
  color: white;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  background-color: var(--bg-card);
  border-radius: var(--radius);
  padding: var(--section-padding);
  margin: 20px;
  max-width: 824px;
  width: 100%;
  box-shadow: var(--shadow-light);
}

.section-title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form div:not(.bookFormIsCompleteContainer) {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  margin-bottom: 4px;
  font-weight: 500;
}

input {
  padding-left: 10px;
}

input:not([type="checkbox"]) {
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: var(--radius);
  transition: 0.2s;
  height: 2.5rem;
}

input:focus {
  border-color: var(--input-focus);
  box-shadow: 0 0 4px rgba(43, 76, 126, 0.3);
}

.bookFormIsCompleteContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-form input {
  flex: 4;
}

.search-form button {
  flex: 1;
}

.btn {
  height: 2.5rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  color: white;
  padding-inline: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-primary {
  background: var(--primary);
  display: inline;
}

.btn-primary:hover {
  background: var(--primary-dark);
}

.btn-complete {
  background: var(--complete);
}
.btn-complete:hover {
  background: var(--complete-dark);
}

.btn-delete {
  background: var(--delete);
}
.btn-delete:hover {
  background: var(--delete-dark);
}

.btn-edit {
  background: var(--edit);
  color: #333;
}
.btn-edit:hover {
  background: var(--edit-dark);
}

form button span {
  font-weight: bold;
}

.item-book {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: var(--radius);
}

.button-group {
  display: flex;
  gap: 10px;
}

[data-testid="bookItemTitle"] {
  margin: 0 0 10px 0;
}

[data-testid="bookItemAuthor"],
[data-testid="bookItemYear"] {
  margin: 0;
}

[data-testid="bookItemYear"] {
  margin-bottom: 10px;
}
